table {
    border-collapse: collapse;
}
table, td {
    border: 2px solid black;
}

.fixed-table-layout {
    width: 900px;
    margin: 0 auto;
}

h2.element_description {    
    text-align: center;
    color: black;
}

.element_1_6 {
    height: 162px;
    background-color: yellow;
    width: 35px;
}

.element2,
.element4,
.element_3_5 {
    width: 70px;    
    height: 500px;
}

.element2 {
    background-color: blue;
}

.element4 {
    background-color: white;
}

.element_3_5 {
    background-color: rgb(235, 62, 19);
}

.spacer {
    width: 20px;
    background-color: transparent;
    border: none;
}